<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title><%= title %></title>
    <% posts.each do |post| %>
        <entry>
            <title><%= post.title %></title>
            <link href="<%= post.url %>" />
            <author>
                <name><%= post.author %></name>
            </author>
            <published><%= post.published %></published>
            <id><%= post.id %></id>
            <content type="html">
                <![CDATA[
                <% if post.media_type == "image" %>
                    <a href="<%= post.media_url %>"><img src="<%= post.media_url %>"></a>
                <% elsif post.reddit_video %>
                    <video poster="<%= post.poster %>">
                      <source src="<%= post.reddit_video.dig("hls_url") %>" type="application/x-mpegURL">
                      <source src="<%= post.reddit_video.dig("dash_url") %>" type="application/dash+xml">
                      <source src="<%= post.reddit_video.dig("fallback_url") %>" type="video/mp4">
                    </video>
                <% elsif post.media_type == "imgur" %>
                    <video poster="<%= post.imgur_url %>.jpg" preload="auto" autoplay="autoplay" muted="muted" loop="loop" webkit-playsinline="">
                        <source src="<%= post.imgur_url %>.mp4" type="video/mp4">
                    </video>
                <% elsif post.media_type == "oembed" %>
                    <%= post.oembed %>
                <% end %>
                ]]>
            </content>
        </entry>
    <% end %>
</feed>